- content_for :head do
  %style{:type => "text/css"}
    ==.display-advanced-side-column-options { float:right; width: 100px; text-align: right; }
    ==#advanced-side-column-options { text-align: left; }
    ==#advanced-side-column-options label { font-size: .85em; }
    ==#main-details, #body-details { font-size: .85em; }
    ==#main-details label.title { font-weight: bold; }
    ==#main-details .icon { width: 12px; height: 12px; vertical-align: baseline; margin-bottom: -2px; }
    ==#page_title { font-size: 1.2em; }
    ==.inline-window { text-align: left; }
    ==.inserts { padding: 5px 0; }
    ==#permissions-box { text-align: left; }
    ==#permissions-box ul { margin: 0; padding: 0; list-style: none; }
    ==#permissions-groups { padding: 4px 10px; border: 1px solid #ccc; background: #eee; margin: 5px; font-size: .8em; }
    ==#permissions-groups ul { padding-left: 10px; }
    ==#permissions-link { font-weight: bold; }
    ==#main-column-div, #side-column-div { font-weight: bold; margin: -4px 0 5px 15px; }
    ==.menus { margin-left: 14px; }
  %script{:type => "text/javascript"}
    jQuery(document).ready(function() {
    jQuery("a#preview-link").fancybox({ 
    'zoomSpeedIn': 300,
    'zoomSpeedOut': 300,
    'overlayShow': true,
    'hideOnContentClick': false,
    'easingOut': 'easeOutQuad',
    'easingIn': 'easeInQuad',
    'type': 'iframe',
    'width': '90%',
    'height': '90%'
    }); 
    });
    function addtext(text) {
    tinyMCE.execInstanceCommand("page_body","mceInsertContent",false,text);
    }
    function set_column(column_location, column_id, column_name) {
    if(column_location == "main_column"){
    jQuery('#page_main_column_id').val(column_id);
    jQuery('#main-column-title').html(column_name);
    jQuery('#main-column-title').attr("href", "/admin/columns/" + column_id + "/column_sections?fancy=true&column_location=main_column");
    jQuery('#main-column-div').effect("highlight", {}, 4000);
    }
    else{
    jQuery('#page_column_id').val(column_id);
    jQuery('#side-column-title').text(column_name);
    jQuery('#side-column-title').attr("href", "/admin/columns/" + column_id + "/column_sections?fancy=true&column_location=side_column");
    jQuery('#side-column-div').effect("highlight", {}, 4000);
    }
    }
    function setLink(){
    document.getElementById('preview_page_body').value = tinyMCE.get('page_body').getContent();
    document.getElementById('preview_page_title').value = document.getElementById('page_title').value
    document.getElementById('preview_page_meta_title').value = document.getElementById('page_meta_title').value
    document.getElementById('preview_menu_show_in_footer').checked = document.getElementById('menu_show_in_footer').checked
    document.getElementById('preview_menu_show_in_main_menu').checked = document.getElementById('menu_show_in_main_menu').checked
    document.getElementById('preview_menu_show_in_side_column').checked = document.getElementById('menu_show_in_side_column').checked
    document.getElementById('preview_menu_parent_id').value = document.getElementById('menu_parent_id').value
    document.getElementById('preview_page_meta_description').value = document.getElementById('page_meta_description').value
    document.getElementById('preview_page_head_script').value = document.getElementById('page_head_script').value
    document.getElementById('preview_page_foot_text').value = document.getElementById('page_foot_text').value
    document.getElementById('preview_page_additional_styles').value = document.getElementById('page_additional_styles').value
    document.getElementById('preview_page_template_id').value = document.getElementById('page_template_id').value
    document.getElementById('preview_page_column_id').value = document.getElementById('page_column_id').value
    document.getElementById('preview_page_main_column_id').value = document.getElementById('page_main_column_id').value
    document.getElementById('submit-preview').click();
    }

= f.error_messages :message => "Please fix these things and try again:", :header_message => "We couldn't save your page"
- fields_for @menu do |m|
  #main-details.options
    
    #options
      %h3 Page Details
      = m.label :status_visible, "Show in Menu", :class => "title"
      = render :partial => 'admin/shared/help_tip', :locals =>{:tip_headline => "", :tip_text => "<strong>Main Menu</strong> &mdash; Navigation at the top of the site.<br /><br /><strong>Side Column Menu</strong> &mdash; Navigation within the side column. The \"Menu Navigation\" Side Column Section must be enabled for the selected Side Column.<br /><br /><strong>Footer Menu</strong> &mdash; Simple Navigation displayed at the bottom of the site."}
      .menus
        = m.check_box :show_in_main_menu, :disabled => @no_edit
        = m.label :show_in_main_menu, "Main Menu"
        %br
        = m.check_box :show_in_side_column, :disabled => @no_edit
        = m.label :show_in_side_column, "Side Column Menu"
        %br 
        = m.check_box :show_in_footer, :disabled => @no_edit
        = m.label :show_in_footer, "Footer Menu"
      = m.label :parent_id, "#{icon("Sitemap")} Menu placement", :class => "title"
      %br
      %select{:name => "menu[parent_id]", :id => "menu_parent_id", :disabled => @no_edit, :class => "select"}
        - for o in @options_for_parent_id
          - unless @page.menus.first.blank?
            %option{:value => o[1] , :selected => (@page.menus.first.parent_id and o[1] == @page.menus.first.parent_id ? "selected" : nil)}= o[0]
          - else
            %option{:value => o[1] , :selected => nil}= o[0]
      - unless @templates.empty?
        %br
        = link_to(icon("Picture"), admin_templates_path(:fancy => true), :title => "Manage Templates", :class => "fancy-iframe")
        = f.label :template_id, "Template", :class => "title"
        %br
        = collection_select(:page, :template_id, @templates, :id, :title, {:include_blank => "Select a Template"}, :class => "select", :selected => (@page.template_id.blank? ? "" : @page.template_id))
      %br
      = link_to(f.label(:main_column_id, "#{icon("Dots")} Main Column", :class => "title"), admin_columns_path(:column_location => "main_column", :fancy => true), :title => "Manage Main Columns", :class => "fancy-iframe")
      
      %br
      = f.hidden_field :main_column_id
      #main-column-div= link_to((@page.main_column_id.blank? ? "Select a Main Column" : Column.find(@page.main_column_id).title), (@page.main_column_id.blank? ? admin_columns_path(:column_location => "main_column", :fancy => true) : admin_column_column_sections_path(@page.main_column_id, :column_location => "main_column", :fancy => true)), :id => "main-column-title", :class => "fancy-iframe")
      = #collection_select(:page, :main_column_id, @main_columns, :id, :title, {:include_blank => "Select a Main Column"}, :class => "select")
      
      %div.display-advanced-side-column-options=link_to("Advanced", "#advanced-side-column-options", :class => "fancy-inline")
      = link_to(f.label(:column_id, "#{icon("Dots")} Side Column", :class => "title"), admin_columns_path(:column_location => "side_column", :fancy => true), :title => "Manage Side Columns", :class => "fancy-iframe")
      %br
      = f.hidden_field :column_id
      #side-column-div= link_to((@page.column_id.blank? ? "Select a Side Column" : Column.find(@page.column_id).title), (@page.column_id.blank? ? admin_columns_path(:column_location => "side_column", :fancy => true) : admin_column_column_sections_path(@page.column_id, :column_location => "side_column", :fancy => true)), :id => "side-column-title", :class => "fancy-iframe")

    - if @cms_config["modules"]["members"]
      = link_to("#{icon("Lock")} Permissions", "#permissions-box", :class => "fancy-inline", :id => "permissions-link") 
      %br
    = f.check_box :show_comments
    = f.label :show_comments, "Show Comments"

  %h2.title.form-label= f.label :title, "Menu Title"
  .note
    %span.required *Required
    Short title displayed in site menu.
  = f.text_field :title, :class => "big-input"
  %h2.form-label= f.label :meta_title, "Page Title"
  .note
    %span.required *Required
    Long title displayed as browser title and used to generate the page permalink.
  = f.text_field :meta_title, :class => "big-input", :disabled => @no_edit
  %h2.form-label= f.label :meta_description, "Short Description"
  .note Used in the Feature Box and as the Meta Description.
  = f.text_area :meta_description, :class => "big-area"
  
  .clear
  #body-wrapper
    .options#body-details
      = link_to("#{icon("Search")} Preview Page", "/admin/pages/preview?reload=true", :id => "preview-link", :class => "icon preview-link", :onclick => "setLink()")      
      = render :partial => 'admin/shared/help_tip', :locals =>{:tip_headline => "", :tip_text => "The Preview Button has been added to enable a very quick and simple way to preview what the content of the page will look like once published publicly. Clicking the preview button will pop up a box with the content formatted correctly, including images and videos."}
      .inserts
        %strong Insert:
        %br
        = render :partial => "admin/shared/parser_help"
      
        - unless @page.title.blank?
          = link_to("#{icon('Picture')} Attached Image", admin_page_images_path(@page, :fancy => "true"), :class => "fancy-iframe")
        = render :partial => "admin/shared/asset_options"
        = render :partial => "admin/shared/insert_link"
        = render :partial => "admin/shared/insert_map"
        - unless @page.testimonials.empty?
          = render :partial => "admin/testimonials/testimonial_options", :locals => {:testimonials => @page.testimonials}
        %br
        = f.check_box :automatically_embed_videos_and_images
        = f.label :automatically_embed_videos_and_images, "Use <strong>Ninja Code</strong> to embed objects."
        
      = link_to("#{icon('Css')} Additional Styles", "#additional-styles", :class => "fancy-inline")
      %br
      = link_to("#{icon('Code')} Head Script", "#head-script", :class => "fancy-inline")
      %br
      = link_to("#{icon('Code')} Foot Script", "#foot-script", :class => "fancy-inline")
      %div{ :style => "display: none;" }
        #advanced-side-column-options
          %img{:src =>"#{css_icon("Cancel","","16x16","red")}", :title =>"close", :alt=> "close box icon", :class => "close-icon", :onclick => "jQuery.fancybox.close()"}
          %h2 Advanced Side Column Options
          = f.check_box :show_site_search
          = f.label :show_site_search
          %br
          = f.check_box :show_side_column_text
          = f.label :show_side_column_text
          - if @cms_config['features']['testimonials']
            %br
            = f.check_box :show_featured_testimonial
            = f.label :show_featured_testimonial, "Show random featured testimonial"
          - if @cms_config['modules']['newsletters']
            %br
            = f.check_box :show_newsletter_signup
            = f.label :show_newsletter_signup, "Show newsletter signup"
          - if @cms_config['modules']['blog']
            %br
            = f.check_box :show_articles
            = f.label :show_articles, "Show articles"
            %br 
            = collection_select(:page, :author_id, @authors, :id, :name, {:include_blank => "Filter by Author"}, :style => "width: 125px; margin: 0 0 0 20px;")
            %br
            = collection_select(:page, :article_category_id, @article_categories, :id, :name, {:include_blank => "Filter by Category"}, :style => "width: 125px; margin: 0 0 0 20px;")
            %br
            = f.check_box :show_article_cats
            = f.label :show_article_cats, "Show article categories"
          -if @cms_config['modules']['events']
            %br
            = f.check_box :show_events
            = f.label :show_events, "Show events"
        #additional-styles.inline-window
          %h2= f.label :additional_styles
          .note Add any CSS styles here that only pertain to this page.
          = f.text_area :additional_styles
          %div
            %input{:type => "button", :onclick => "jQuery.fancybox.close()", :value => "Done"}
        #head-script.inline-window
          %h2= f.label :head_script
          .note Add extra HTML to the head tag of the page.
          = f.text_area :head_script
          %div
            %input{:type => "button", :onclick => "jQuery.fancybox.close()", :value => "Done"}
        #foot-script.inline-window
          %h2= f.label :foot_text, "Foot Script"
          .note Add extra HTML to the head tag of the page.
          = f.text_area :foot_text
          %div
            %input{:type => "button", :onclick => "jQuery.fancybox.close()", :value => "Done"}
        - if @cms_config['modules']['members']
          #permissions-box
            %img{:src =>"#{css_icon("Cancel","","16x16","red")}", :title =>"close", :alt=> "close box icon", :class => "close-icon", :onclick => "jQuery.fancybox.close()"}
            %h2 Permissions
            .note Who can access this page?
            %ul
              %li
                =f.radio_button :permission_level, "everyone"
                =f.label :permission_level_everyone, "Everyone"
              %li
                =f.radio_button :permission_level, "administrators"
                =f.label :permission_level_administrators, "Administrators Only"
              %li
                =f.radio_button :permission_level, "those checked"
                =f.label :permission_level_those_checked, "All those checked below"
              %li
                =f.radio_button :permission_level, "except those checked"
                =f.label :permission_level_except_those_checked, "Except for those checked below"
            #permissions-groups
              Select Groups
              %ul
                -for group in PersonGroup.is_role
                  %li
                    -if @page.permission_level == "except those checked"
                      = check_box_tag "page[person_group_ids][]", group.id, !@page.person_groups.include?(group), :id => "group_checkbox_#{group.id}"
                    -else 
                      = check_box_tag "page[person_group_ids][]", group.id, @page.person_groups.include?(group), :id => "group_checkbox_#{group.id}"
                    = label_tag "group_checkbox_#{group.id}", group.title
            %div
              %input{:type => "button", :onclick => "jQuery.fancybox.close()", :value => "Done"}
    %div{:style => "width: 560px;"}
      %h2.form-label
        = f.label :body

    = f.text_area :body, :size => "80x40", :style => "width: 550px;", :class => "mceEditor"
  %div
  - fancy_submit admin_pages_path do
    = submit_tag "Save page"
- content_for :pre_footer do
  %div{:style => "display: none;"}
    - form_remote_tag :url => post_preview_admin_pages_path, :method => "put", :html => {:name => "post_preview"} do
      = text_area :preview_page, :body
      = text_area :preview_page, :title
      = text_area :preview_page, :meta_title
      = check_box :preview_menu, :show_in_footer
      = check_box :preview_menu, :show_in_main_menu
      = check_box :preview_menu, :show_in_side_column
      = check_box :preview_menu, :parent_id
      = text_area :preview_page, :meta_description
      = text_area :preview_page, :head_script
      = text_area :preview_page, :foot_text
      = text_area :preview_page, :additional_styles
      = text_area :preview_page, :template_id
      = text_area :preview_page, :column_id
      = text_area :preview_page, :main_column_id
      = submit_tag "submit", :id => "submit-preview"


