- content_for :meta_title do
  Pages

- content_for :head do
  %style{:type => "text/css", :media => "screen"}
    ul.sortable { list-style: none; }
    ul.sortable li { line-height: 2em; }

%h1= yield :meta_title

.box
  #reorder_status.gray.float-right{:style => "display: none"}
    = spinner
    Reordering pages...
  %ul
    %li
      %span.hmenu
        = link_to "<i class=\"fas fa-plus-circle\"></i> Make a New Page", new_admin_page_path
    %li
      %span.hmenu
        = link_to "<i class=\"fas fa-plus-circle\"></i> Add Menu", new_admin_menu_path
    %li.desktop-only
      %span.hmenu
        = link_to "<i class=\"fas fa-arrows-alt-v\"></i> Organize Footer Menus", footer_admin_pages_path
      %span.hmenu
        = link_to("<i class=\"fas fa-star\"></i> Manage Homepage Features", admin_features_path)
%br

- build_footer_menu
