- @responsive = true
- content_for :meta_title do
  Pages & Navigation

- content_for :head do
  %style{:type => "text/css", :media => "screen"}
    ==#filter-options { display: none; }
    - if params[:commit] == "Filter"
      ==#filter-options { display: block; }
#page-index
  
  -#%form{:action => batch_admin_pages_path, :method => "post"}
  
  - if @paginate_page_index    
    .float-right
      %ul.top-options
        %li= link_to("Show Navigation View", "/admin/pages?paginate_page_index=false", :title => "Display sortable tree-navigation view of all Menus.")
        - if !@cms_config['site_settings']['paginate_page_index']
          %li= link_to("Save as default view", "/admin/pages?default_view=paginate")
    %h1= '<i class="fas fa-file-alt"></i> ' + yield(:meta_title).strip
    = clear
    .box
      .float-right= render :partial => "/shared/search"
      %ul
        %li
          %span.hmenu
            = link_to "<i class=\"fas fa-plus-circle\"></i> Make a New Page", new_admin_page_path
        %li
          %span.hmenu
            = link_to "<i class=\"fas fa-plus-circle\"></i> Add Menu", new_admin_menu_path
        %li.desktop-only
          %span.hmenu
            = link_to "<i class=\"fas fa-arrows-alt-v\"></i> Organize Footer Menus", footer_admin_pages_path
          %span.hmenu
            = link_to("<i class=\"fas fa-star\"></i> Manage Homepage Features", admin_features_path)
    = link_to("Filter Pages", "javascript:void(0)", :onclick => "jQuery('#filter-options').slideToggle()")
    .box#filter-options
      %h2 Filter Pages:
      = form_tag('/admin/pages', :method => :get)
      = hidden_field_tag("filter","true")
      %span#filter-template
        = select_tag 'template_id', options_for_select(@templates.collect{|c| [c.title, c.id]}.insert(0,["Filter by Template", nil]), :selected => params[:template_id].to_i)
      - if @cms_config['site_settings']['enable_responsive_layouts']
        %span#filter-layout
          = select_tag 'main_column_id', options_for_select(@layouts.collect{|c| [c.title, c.id]}.insert(0,["Filter by Layout", nil]), :selected => params[:main_column_id].to_i)
      - else
        %span#filter-main-column
          = label_tag 'main_column_id', "Main Column"
          = select_tag 'main_column_id', options_for_select(@layouts.collect{|c| [c.title, c.id]}.insert(0,["Filter by Main Column", nil]))
        %span#filter-side-column
          = label_tag 'column_id', "Side Column"
          = select_tag 'column_id', options_for_select(@side_columns.collect{|c| [c.title, c.id]}.insert(0,["Filter by Side Column", nil]))
      #nav-filters
        #filter-show-in-main-menu
          = check_box_tag 'show_in_main_menu'
          = label_tag 'show_in_main_menu', 'Visible in Main Menu'
        #filter-show-in-secondary-menu
          = check_box_tag 'show_in_side_menu'
          = label_tag 'show_in_side_menu', "Visible in Secondary Menus"
      %span.submit
        = submit_tag "Filter"
        - if params[:commit] == "Filter"
          = link_to("Clear", "/admin/pages")
      </form>
    
    = render :partial => "paginated_index"
    %br
    
    = render :partial => "batch_options"

  - else
    .float-right
      %ul.top-options
        %li= link_to("Show Alphabetical View", "/admin/pages?paginate_page_index=true", :title => "Display searchable alphabetical view of Pages.")
        - if @cms_config['site_settings']['paginate_page_index']
          %li= link_to("Save as default view", "/admin/pages?default_view=tree")
        %li= link_to("Display URLs", "javascript:void(0)", :id => "show-url")
    %h1= '<i class="fas fa-file-alt"></i> ' + yield(:meta_title).strip
    = clear
    .box
      #reorder_status.gray.float-right{:style => "display: none"}
        = spinner
        Reordering pages...
      %ul
        %li
          %span.hmenu
            = link_to "<i class=\"fas fa-plus-circle\"></i> Make a New Page", new_admin_page_path
        %li
          %span.hmenu
            = link_to "<i class=\"fas fa-plus-circle\"></i> Add Menu", new_admin_menu_path
        %li.desktop-only
          %span.hmenu
            = link_to "<i class=\"fas fa-arrows-alt-v\"></i> Organize Footer Menus", footer_admin_pages_path
          %span.hmenu
            = link_to("<i class=\"fas fa-star\"></i> Manage Homepage Features", admin_features_path)
    %br
    #ajax-loading
      == #{image_tag(spinner_loc, :alt => "loading")} Loading Pages...
    #ajax-index
    - content_for :footer do
      %script{:type => "text/javascript"}
        jQuery(function() {
        jQuery('#ajax-index').load('/admin/pages/ajax_index');
        });
        jQuery('#show-url').bind("click", function(){
        jQuery('.full-url').toggle();
        });
        jQuery(document).ready(function() {
        jQuery(".fancy-mini-iframe").fancybox({ 
        'zoomSpeedIn': 300,
        'zoomSpeedOut': 300,
        'overlayShow': false,
        'hideOnContentClick': 'false',
        'easingOut': 'easeOutQuad',
        'easingIn': 'easeInQuad',
        'type': 'iframe',
        'width': 300,
        'autoScale': true,
        iframe : { css : { width : '300px'} }
        }); 
        jQuery(".fancy-iframe-large").fancybox({ 
        'zoomSpeedIn': 300,
        'zoomSpeedOut': 300,
        'overlayShow': true,
        'hideOnContentClick': 'true',
        'easingOut': 'easeOutQuad',
        'easingIn': 'easeInQuad',
        'type': 'iframe',
        'width': '94%',
        'autoScale': true,
        'height':'94%',
        iframe : { css : { width : '94vw', height: '94vh'} } 
        });
        jQuery(".select-all").click(function(){
        jQuery(':checkbox').prop('checked', this.checked);
        });
        });
        
        jQuery(function(){
        if (window.location.href.indexOf("?fancy=true") > -1) {
        parent.fancyBoxClose();
        parent.jQuery(".fancybox-button--close").click();
        }
        });

        function fancyBoxClose(){
        jQuery("#fancybox-frame").load(function(){
        jQuery.fancybox.close();

        });
        }
        
- if session[:cache] == true
  %iframe{:src => "/admin/columns?cache=true", :style => "height: 1px; border: 0; width: 1px"}