- @responsive = true
- content_for :meta_title do
  Pages & Navigation

- content_for :head do
  %style{:type => "text/css", :media => "screen"}
    ==#batch-options { padding: 10px; }
    ==#batch-options.box h2 { margin: 0; padding: 0; font-size: 1.2em; }
    ==#batch-template { padding: 8px 0; }
    ==#batch-options label { width: 100px; float: left; display: block; padding: 5px 0; }
    ==#batch-options .submit { padding: 0; margin: 10px 0 0; }
    ul.sortable { list-style: none; margin: 0 0 0 -40px; }
    ul.sortable ul { margin: 0 0 0 -20px; list-style: none; }
    ul.sortable li { line-height: 2em; }
    div.page-title-header { float: left; width: 60px; font-weight: bold; color: #666; margin: 0 0 0 10px; }
    div.page-options-header { float: right; width: 86px; text-align: left; font-weight: bold; color: #666; }
    div.page-images-header { float: right; width: 50px; text-align: left; font-weight: bold; margin-right: 20px; color: #666; }
    div.page-testimonials-header { float: right; width: 100px; text-align: left; font-weight: bold; margin-right: 20px; color: #666; }
    
    div.page-type-header { float: right; width: 75px; text-align: left; font-weight: bold; margin-right: 20px; color: #666; }
    div.page-testimonials-header { float: right; width: 100px; text-align: left; font-weight: bold; margin-right: 20px; color: #666; }
    div.page-title { float: left; margin: 5px 20px; width: 397px; line-height: 18px; }
    ul ul div.page-title { width: 377px; }
    ul ul ul div.page-title { width: 357px; }
    ul ul ul ul div.page-title { width: 337px; }
    ul ul ul ul ul div.page-title { width: 317px; }
    ul ul ul ul ul ul div.page-title { width: 297px; }
    
    ==input[type='checkbox'] { margin-left: 10px; }
    ==input[type='checkbox'].select-all { margin-left: 0; float: right; }
    ==.trash-spacer { width: 0; display: inline; margin-left: 20px; }
    div.page-title a {  }
    div.page-options { text-align: left; float: right; width: 86px; }
    div.page-images { float: right; margin-right: 20px; width: 50px; text-align: left; }
    div.page-type { float: right; margin-right: 20px; width: 75px; text-align: left; font-size: .8em; }
    div.page-testimonials { float: right; margin-right: 20px; width: 100px; text-align: left; }
    div.page-menu { float: right; margin-right: 20px; width: 50px; }
    ul.sortable .drop_hover { background: url(http://files.artweb-design.de/javascript/scriptaculous-sortabletree/demo/drag.png) no-repeat bottom left; }
    ul.sortable .drop_top {	background-position: top left; }
    ul.sortable .drop_bottom { background-position: bottom left; }
    ul.sortable .drop_insert { background-position: 20px 100%; }
    ul.sortable li { overflow: hidden; }
    div#droppable_top { height: 10px; background: #efefef; margin: 0; }
    div#droppable_top span, div.droppable span { display: none; font-size: .9em; font-weight: bold; }
    div.droppable { height: 10px; background: #dedede; margin-left: 20px; }
    div.draghover span { display: block !important; padding: 5px; background: #e7ffe1 !important; border-left: 1px dotted #296e19; line-height: 25px; position: relative; z-index: 5000000; top: -40px; border: 1px dotted #5a9605; }
    div.draghover { background: #3b6232; }
    img.handle { float: left; position: absolute !important; margin: 3px 0 0; }
    ==.menu-item { border-top: #ccc 1px solid; }
    ==.menu-item-inner.hidden { background: #efefef; }
    @media screen and (max-width: 549px) {
    ==.page-title-header, .page-options-header, .page-testimonials-header, .page-images-header, .page-type-header { display: none; }
    ==div.page-title { margin: 5px 0; font-size: 1.4em; padding: 0 5px; }
    ==ul ul div.page-title {clear: right; width: 100%; max-width: 100%; overflow: hidden; white-space: nowrap; }
    ==div.page-options, div.page-testimonials, div.page-images, div.page-menu, div.page-type { float: right !important; margin: 0 0 0 10px; width: inherit; }
    ==div.droppable { display: none; }
    ==ul.sortable a .icon { margin: 0 1px; }
    }
#page-index
  %form{:action => batch_admin_pages_path, :method => "get"}
    %h1= large_icon('Clipboard Copy') + ' ' + yield(:meta_title).strip

    .box
      #reorder_status.gray.float-right{:style => "display: none"}
        = spinner
        Reordering pages...
      %ul
        %li
          %span.hmenu
            = icon "Plus", new_admin_page_path
            = link_to "Make a New Page", new_admin_page_path
        %li
          %span.hmenu
            = icon "Plus", new_admin_menu_path
            = link_to "Add Menu", new_admin_menu_path
        %li.desktop-only
          %span.hmenu
            = icon "Plus", footer_admin_pages_path
            = link_to "Organize Footer Menus", footer_admin_pages_path
    %br
    %div.page-title-header
      Title
    %div.page-options-header
      Options
      = check_box_tag('all', false, false, :class => "select-all")
    - if @cms_config['features']['testimonials']
      %div.page-testimonials-header
        Testimonials
    %div.page-images-header
      Images
    %div.page-type-header
      Type
    = clear
    .draggable#droppable_top
      %span Drop to top level navigation.
    = drop_receiving_element("droppable_top", :hoverclass => "draghover", :url => receive_drop_admin_pages_path + "?parent_id=", :method => :get, :loading => "$('ajax_spinner').src='#{spinner_loc}'; $('reorder_status').show();", :success => "$('ajax_spinner').src='#{ok_loc}'", :failure => "$('ajax_spinner').src='#{exclamation_loc}'", :update => "page-index" )
    - #build_menu


    = render :partial => "children", :locals => {:parent_id => nil}
    
    
    %br
    #batch-options.box
      %h2 Batch Options:
      #batch-template
        = label_tag 'template_id', "Template"
        = select_tag 'template_id', options_for_select(@templates.collect{|c| [c.title, c.id]}.insert(0,""))
      
      #batch-layout
        = label_tag 'main_column_id', "Layout"
        = select_tag 'main_column_id', options_for_select(@layouts.collect{|c| [c.title, c.id]}.insert(0,""))
      .submit
        = submit_tag "Update Selected Pages"
%script{:type => "text/javascript"}
  jQuery(document).ready(function() {
  jQuery(".fancy-mini-iframe").fancybox({ 
  'zoomSpeedIn': 300,
  'zoomSpeedOut': 300,
  'overlayShow': false,
  'hideOnContentClick': 'false',
  'easingOut': 'easeOutQuad',
  'easingIn': 'easeInQuad',
  'type': 'iframe',
  'width': 300,
  'autoScale': true
  }); 
  
  jQuery(".select-all").click(function(){
  jQuery(':checkbox').prop('checked', this.checked);
  });
  }); 