- content_for :meta_title do
  = @page.meta_title
- content_for :meta_description do
  = @page.meta_description
- content_for :meta_keywords do
  = @page.meta_keywords
  
= # render :partial => "/shared/image_box", :locals => { :owner => @page } unless @page.images.empty?
- if @page.automatically_embed_videos_and_images?
  = ninja_parse(@cms_config['site_settings']['preview'])
- else
  = @page.body

- if @page.permalink == "home" and !@settings.homepage_banner.blank?
  - content_for :banner do
    = @settings.homepage_banner
    
= render :partial => "pages/sidebar"


- content_for :head do
  :javascript
    window.onload = check_reload();
    function check_reload() {
    if (document.cookie == "reload=true")
    {
    document.cookie= "reload=false";
    window.location.reload();
    };
    };