- unless params[:reload] == "true"
  - content_for :head do
    = javascript_include_tag "/javascripts/slides/source/slides.jquery.patched.js"
    = javascript_include_tag "/javascripts/jcarousel/lib/jquery.jcarousel.js"
  #preview-content
    = render :partial => "pages/show"
    = render :partial => "shared/comment_form", :locals => { :owner => @page } if @page.show_comments?

  = render :partial => "pages/sidebar"

