- content_for :meta_title do
  = @page.meta_title
- content_for :meta_description do
  = @page.meta_description
- content_for :meta_keywords do
  = @page.meta_keywords
= render :partial => "shared/slice", :locals => {:column_section_id => nil, :controller => "pages", :action => "index"}, :collection => @main_column_sections
- if @page.permalink == "home" and !@settings.homepage_banner.blank? and !params[:page]
  - content_for :banner do
    = @settings.homepage_banner
- content_for :head do
  = @page.head_script unless @page.head_script.blank?
  - unless @page.additional_styles.blank?
    %style{:type => "text/css"}
      = @page.additional_styles



<script type="application/ld+json">
{
"@context": "https://schema.org",
"@type": "NewsArticle",
"mainEntityOfPage": {
"@type": "WebPage",
=="@id": "#{request.url}"
},
=="headline": "#{@page.title}",
"image": [
- if @page.images.size > 0
== "#{@page.images.first.image.url}"
],
=="datePublished": "#{@page.created_at.strftime("%Y-%m-%d")}T#{@page.created_at.strftime("%H:%M:00+08:00")}",
=="dateModified": "#{@page.updated_at.strftime("%Y-%m-%d")}T#{@page.updated_at.strftime("%H:%M:00+08:00")}",
"author": {
"@type": "Person",
=="name": "#{@cms_config['website']['name']}"
},
"publisher": {
"@type": "Organization",
=="name": "#{@cms_config['website']['name']}",
- if @tmplate and (!@tmplate.logo_file_name.blank? or !@global_template.logo_file_name.blank?)
"logo": {
"@type": "ImageObject",
- if !@tmplate.logo_file_name.blank?
  =="url": "#{@tmplate.logo(:original)}"
- elsif !@global_template.logo_file_name.blank?
  =="url": "#{@global_template.logo(:original)}"
- else
  =="url": ""
}
},
=="description": "#{@page.description}"
}
</script>