- content_for :meta_title do
  = @page.meta_title
- content_for :meta_description do
  = @page.meta_description
- content_for :meta_keywords do
  = @page.meta_keywords

- if @page.permalink == "home"
  = render :partial => "features" unless (@settings.show_features == false or @features.empty?)
  
= # render :partial => "/shared/image_box", :locals => { :owner => @page } unless @page.images.empty?
- if @page.automatically_embed_videos_and_images?
  = ninja_parse(@page.body)
- else
  = @page.body