- content_for :meta_title do
  = @page.meta_title
- content_for :meta_description do
  = @page.meta_description
- content_for :meta_keywords do
  = @page.meta_keywords
- for section in @main_column_sections
  - if section.column_section_type.title == "Body Content"
    = @page.automatically_embed_videos_and_images? ? ninja_parse(@page.body) : @page.body
  - elsif section.column_section_type.title == "Feature Box"
    = render :partial => "homepage_feature" , :locals => {:features => @features.reject{|f| f.featurable_section.title != "Home Page Feature Box"}} unless (@features.reject{|f| f.featurable_section.title != "Home Page Feature Box"}.empty?)
    - if @cms_config['site_settings']['wide_feature_box'] and !(@settings.show_features == false or @features.empty?) and @settings.show_feature_thumbs
      .film-strip    
  - elsif section.column_section_type.title == "HTML Section"
    = section.body
  - else
    = render :partial => "/#{section.column_section_type.controller_name}/#{section.column_section_type.partial_name}", :locals => {:section => section}
- if @page.permalink == "home" and !@settings.homepage_banner.blank?
  - content_for :banner do
    = @settings.homepage_banner
- content_for :head do
  = @page.head_script unless @page.head_script.blank?
  - unless @page.additional_styles.blank?
    %style{:type => "text/css"}
      = @page.additional_styles