- @show_site_search = @page.show_site_search
- for section in @side_column_sections
  - if section.column_section_type.partial_name == "signup_for_side_column"
    = render :partial => "/newsletters/signup_for_side_column" if @page.show_newsletter_signup?  and @cms_config['modules']['newsletters']
  - elsif section.column_section_type.partial_name == "events_for_side_column"
    = render :partial => "/events/events_for_side_column", :locals => { :count => section.count, :show_blurb => section.show_blurb } if @page.show_events? and @cms_config['modules']['events']
  - elsif section.column_section_type.partial_name == "articles_for_side_column"
    = render :partial => "/articles/articles_for_side_column", :locals => { :count => section.count, :show_blurb => section.show_blurb } if @page.show_articles? and @cms_config['modules']['blog']
  - elsif section.column_section_type.partial_name == "article_categories_for_side_column"
    = render :partial => "/article_categories/article_categories_for_side_column", :locals => { :count => section.count } if @page.show_article_cats? and @cms_config['modules']['blog']
  - elsif section.column_section_type.partial_name == "testimonial_for_sidebar"
    = render :partial => "/testimonials/testimonial_for_sidebar", :locals => { :count => section.count, :testimonial => @testimonial } if @page.show_featured_testimonial?  and @cms_config['features']['testimonials'] and @testimonial
  - elsif section.column_section_type.controller_name == "content"
    - if !section.body.blank?
      - content_for :side_column do
        - if @page.show_side_column_text
          .side-column-section
            = ninja_parse(section.body)
  - else
    = render :partial => "/#{section.column_section_type.controller_name}/#{section.column_section_type.partial_name}"